@font-face {
  font-family: 'Decade';
  src: url('../vendor/decade/Decade.eot');
  src: url('../vendor/decade/Decade.eot?#iefix') format('embedded-opentype'),
    url('../vendor/decade/Decade.woff2') format('woff2'),
    url('../vendor/decade/Decade.woff') format('woff'),
    url('../vendor/decade/Decade.svg#Decade') format('svg');
  font-weight: normal;
  font-style: normal;
}
