.header-100vh {
  height: 100vh;
}

.img-resize {
  transform: scale(1);
}

iframe {
  z-index: 20;
}

@media (max-width: 540px) {
  .img-resize {
    transform: scale(0.6);
  }
}

th {
  width: 25% !important;
}
