section {
  position: relative;

  & div,
  & img {
    z-index: 2;
  }
  &.white-bg {
    background-color: $white;
    &::before {
      display: none;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.05);

    z-index: 1;
    content: '';
  }
}

.section-white {
  background-color: $white;
  &::before {
    background: $white;
  }
}

.disabled {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  // justify-self: center;
  font-family: 'Decade';
  content: 's';
  color: white;
  text-align: center;
  font-size: 7rem;
  justify-content: center;
  align-items: center;
  &.right {
    transform: translateX(10%);
  }
  &.left {
    transform: translateX(-10%);
  }
  &.top {
    transform: translateY(-20%);
  }
}

@media (max-width: 990px) {
  .flex-order {
    display: flex;
  }

  .flex-first {
    order: 1;
  }
  .flex-second {
    order: 2;
  }
}
