.navbar-toggler {
  padding: 0 0;
  margin: 0 0;
  &:focus {
    outline: none !important;
  }
  &:hover #nav-icon3 span {
    background: $black;
  }
}

.navbar-custom button.navbar-toggler {
  height: 30px;
  width: 40px;
  position: relative;
}

/* Icon 1 */

#nav-icon3 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $black-light;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 0;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

// .custom-hamb {
//   &:focus {
//     outline: none !important;
//   }
//   height: 100%;
//   width: 100%;
//   position: relative;

//   & div {
//     position: absolute;
//     width: 100%;
//     height: 5px;
//     border-radius: 2px;
//     background-color: $black-light;
//     @include fade-short;

//     &:nth-child(1) {
//       top: 0;
//     }
//     &:nth-child(2) {
//       top: 50%;
//       transform: translateY(-50%);
//       -moz-transform: translateY(-50%);
//       -webkit-transform: translateY(-50%);
//       -ms-transform: translateY(-50%);
//     }
//     &:nth-child(3) {
//       top: 100%;
//       transform: translateY(-100%);
//       -moz-transform: translateY(-100%);
//       -webkit-transform: translateY(-100%);
//       -ms-transform: translateY(-100%);
//     }
//   }
//   &.active {
//     & div {
//       top: 50%;
//       transform: translateY(-50%);
//       -moz-transform: translateY(-50%);
//       -webkit-transform: translateY(-50%);
//       -ms-transform: translateY(-50%);
//       &:nth-child(1) {
//         transform: translateY(-50%) rotate(45deg);
//         -moz-transform: translateY(-50%) rotate(45deg);
//         -webkit-transform: translateY(-50%) rotate(45deg);
//         -ms-transform: translateY(-50%) rotate(45deg);
//       }
//       &:nth-child(3) {
//         transform: translateY(-50%) rotate(-45deg);
//         -moz-transform: translateY(-50%) rotate(-45deg);
//         -webkit-transform: translateY(-50%) rotate(-45deg);
//         -ms-transform: translateY(-50%) rotate(-45deg);
//       }
//       &:nth-child(2) {
//         transform: translateY(-50%) rotate(0);
//         -moz-transform: translateY(-50%) rotate(0);
//         -webkit-transform: translateY(-50%) rotate(0);
//         -ms-transform: translateY(-50%) rotate(0);
//       }
//     }
//   }
// }
