.section-char {
  &-marian {
    background: url('../images/sections/main-welcome.png') center center
      no-repeat;
    background-size: cover;
  }
  &-madjunker {
    background: url('../images/sections/section-madjunker.png') bottom center
      no-repeat;
    background-size: cover;
  }
  &-cyberranger {
    background: url('../images/sections/section-cyberranger.png') bottom center
      no-repeat;
    background-size: cover;
  }
  &-stalker {
    background: url('../images/sections/section-stalker.png') bottom center
      no-repeat;
    background-size: cover;
  }
  position: relative;

  & img {
    @include fade;
    height: max-content;
    width: auto;
  }
}
