.section-main {
  background: url('../images/sections/main-welcome.jpg') center center;
  background-size: cover;
  //   height: 500px;
  position: relative;
  & img {
    @include fade;
  }
}

@media (max-width: 996px) {
  .section-main {
    background: url('../images/sections/main-welcome.jpg') top left no-repeat;
    background-size: cover;
  }
}
